.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  /* background-color: blue; */
}

.run_happy{
  background-color: blue;
}

.reactname{
  color: white;
    font-size: 20px;
  font-weight: 500;
}

.Login{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.react_user{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}